@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
@{
    ViewBag.Title = "Add User";
}

<table style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="6" cellspacing="6">
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td align="center" colspan="2">
            <h2> Manage Users</h2>
        </td>

    </tr>
    <tr>
        <td colspan="2">
            <h3>
                <a class="btn-primary" href="/Account/Register"
                   style="margin-bottom: 20px;
margin-left:50px;
    margin-top: 100px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none !important;">Add New User</a>
            </h3>
            <div class="row">
                <section class="col-md-12 col-md-push-0">
                    @Html.Partial("../Shared/Users")
                </section>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td align="right" style="color:#FFFFFF;padding-right:10px;">

            <h3 style="margin-bottom: 31px;margin-right: 50px;">@Html.ActionLink("Back to Previous", "Index", "Users")</h3>
        </td>
    </tr>
</table>


